/*Kontener główny*/

#kontener {
    position: relative;
    width: 600px;
    height: 600px;
    border-width: 2px;
    border-style: solid;
    border-color: silver;
}


/*Kontener główny END*/


/*.kont właściwości*/

#kontener .kont {
    position: absolute;
    width: 196px;
    height: 196px;
    border-width: 2px;
    border-style: solid;
    border-color: silver;
}


/*.kont właściwości*/


/*.circle*/

#kontener .kont .circle {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    top: 50px;
    left: 50px;
}


/*.circle właściwości*/


/*.item$ / .ring$ pozycja i kolor*/

#item1 {
    background: red;
    top: 0;
    left: 0;
}

#ring1 {
    background: pink;
}

#item2 {
    background: blue;
    top: 0;
    left: 200px;
}

#ring2 {
    background: grey;
}

#item3 {
    background: green;
    top: 0;
    right: 0;
}

#ring3 {
    background: darkviolet;
}

#item4 {
    background: yellow;
    top: 200px;
    left: 0;
}

#ring4 {
    background: green;
}

#item5 {
    background: black;
    top: 200px;
    left: 200px;
}

#ring5 {
    background: red;
}

#item6 {
    background: orange;
    top: 200px;
    right: 0;
}

#ring6 {
    background: blue;
}

#item7 {
    background: darkviolet;
    top: 400px;
    left: 0;
}

#ring7 {
    background: orange;
}

#item8 {
    background: grey;
    top: 400px;
    left: 200px;
}

#ring8 {
    background: yellow;
}

#item9 {
    background: pink;
    top: 400px;
    right: 0;
}

#ring9 {
    background: black;
}


/*.item$ / .ring$ pozycja i kolor*/